<div class="about-container">
  				<h1 class="page-title">about</h1>
					<br>
					<h2 class="about-subtitle">Cruises are more fun with friends. What if it were easy to find new friends with similar interests on your cruise vacation?</h2>
					<br>
					<h2 class="about-subtitle">Sign up.</h2>
					<p class="about-info">First, you create an account for yourself.  You'll fill out an intitial survey about your interests and your personality -just basic information.</p>
					<br>
					<h2 class="about-subtitle">Create a new trip.</h2>
					<p class="about-info">To start looking, create a new trip.  Enter the activation code you received from your trip verification to find your cruise.  You'll add the people you're traveling with to your trip, either by linking your account with theirs or by creating a "sub-account" (usually for minors).  Then, you and those you're traveling with will fill out another quick survey, specific to this trip.</p>
					<br>
					<h2 class="about-subtitle">View your matches.</h2>
					<p class="about-info">You indicate who you're trying to find matches for: The kids? The whole family? A few friends? A couple? Our algorithm will match you with potential friends, finding people with similar interests you'd get along well with.</p>
					<br>
					<h2 class="about-subtitle">Contact.</h2>
					<p class="about-info">Review your matches, then if you'd like, safely contact them through our messaging system.  Get to know them a little before your trips, and make plans for your exciting vacation!</p>
				</div>
