<div class="contact-container">
  				<h1 class="contact-title">contact</h1>
					<br>
					<p class="contact-info">Meet Go Do is currently being developed as part of <a href="http://6.470.scripts.mit.edu/2013/home/index">MIT's 6.470 Web Programming Competition</a>. If you would like to contact us, please email Josh Haimson at <a href="mailto:jhaimson@mit.edu">jhaimson@mit.edu</a> or Jessica Andersen at <a href="mailto:jessmand@mit.edu">jessmand@mit.edu</a>.
	</div>
