      </div>
    </div>
  </div>
<div class="navbar navbar-fixed-bottom">
      <div class="container-fluid footer-container">
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8 footer">
				<p class="pull-left">©Meet Go Do 2013</p>
				<p class="pull-right">Contact at jhaimson@mit.edu or jessmand@mit.edu</p>
			</div>
		</div>
	</div>
</div>
